body {
    font-family: sans-serif;
    background-image: linear-gradient(to right, #1FFFC3,#64E88E);
}
.iii {
    color: blue;
    background-color: #7564E8;
}
.lll {
    background-color: #B1A6FC;
}
.kkk {
    background-color: azure;
}
footer {
    background-color: black;
}
